[submodule "cy-comp-challenge-1"]
	path = cy-comp-challenge-1
	url = https://github.com/CharlesY712/cy-comp-challenge-1
[submodule "cy-comp-challenge2"]
	path = cy-comp-challenge-2
	url = https://github.com/CharlesY712/cy-comp-challenge2.git
